html {
    box-sizing: content-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #e0e0e0;   
}



.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(to right, black, grey);
    padding: 5px 10px;
}

header h1 {
    color: red;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(255,0,0,.1),
               0 0 5px rgba(255,0,0,.1),
               0 1px 3px rgba(255,0,0,.3),
               0 3px 5px rgba(255,0,0,.2),
               0 5px 10px rgba(255,0,0,.25),
               0 10px 10px rgba(255,0,0,.2),
               0 20px 20px rgba(255,0,0,.15);
    margin: 20px;

}

nav ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

nav ul li, nav ul li a{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 215, 0);
    font-size: 30px;

}

nav ul li a:hover {
    color: red;
}

.image-1, .image-2, .image-3, .image-4{
    display: flex;
    text-align: center;
}

.image {
    margin-bottom: 20px;
}

.image img {
    width: 90%;
}

figcaption a{
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

footer {
    border-top: 1px dotted grey;
    color: white;
}

footer a {
    color: white;
}

@media (min-width:1024px) {
    footer {
        display: flex;
        justify-content: space-around;
    }
}